@model PortalDeCiclismo.Models.Tecnico

@{
    ViewBag.Title = "Detalhes";
    var tipoDeUsuario = ViewBag.TipoDeUsuario;
}

<h2>Detalhes</h2>

<div>
    <h4>Tecnico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @* Tecnico *@
    @if (tipoDeUsuario == 2)
    {
        <a class="btn btn-success" href="@Url.Action("Edit", "Tecnico", new { id = Model.TecnicoID })">Editar</a>
    }
    <a class="btn btn-primary" href="@Url.Action("Index", "Tecnico")">Voltar</a>
</p>
